@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-position {
    top: 8rem !important;
}

.animate-slide-in-right {
    animation: slide-in-right 0.3s ease-in-out forwards;
}

.animate-slide-out-right {
    animation: slide-out-right 0.3s ease-in-out forwards;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}